@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Work Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  color: white;
  font-family: sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


body {
  background-color: black;
}

@layer components {
  .slider-icon {
    @apply lg:text-5xl text-4xl cursor-pointer;
  }
}



